asgiref==3.2.7
astroid==2.3.3
beautifulsoup4==4.9.0
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
Django==3.0.5
django-cors-headers==3.2.1
django-cors-middleware==1.5.0
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.5.0
mccabe==0.6.1
numpy==1.18.4
pandas==1.0.3
Pillow==7.1.1
pylint==2.4.4
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.14.0
soupsieve==2.0
SQLAlchemy==1.3.16
sqlparse==0.3.1
typed-ast==1.4.1
urllib3==1.25.9
wrapt==1.11.2
