
.parallax {
    /* The image used */
    background-image: url("{% static 'salute.jpg' %}");
  
    /* Set a specific height */
    /* min-height: 500px;  */
    height: 200px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.begin{

    padding-top:50px;
    padding-bottom:10px;
    text-align:center;

}

.update{
    padding-top:10px;
    text-align:center;
    font-size:15px;
    padding-bottom: 50px;;
}

@media (min-width:1025px){
    .carousel-item{
        height: 500px;
    }

    .carousel-item img{
        height: 500px;
    }
}