<h3 style='padding-left:20px;padding-top:20px;'>WHAT IS THIS WEBSITE ABOUT ?</h3>
    <p style='padding-left:10px;padding-top:25px;font-weight:bold;'>This website is about creating awareness in people's mind against this deadly virus know as Coronavirus , whose scientific name is SARS-CoV2 . This virus has affected almost every country in the world and
        has forced human beings into remote existence . However, we are hopeful that we shall overcome and better times shall come . This website is nothing but a simple attempt to create awareness among the masses about this disease . </p>
    <h3 style='padding-left:20px;padding-top:20px;'>WHAT DO WE DO ?</h3>
    <p style='padding-left:10px;padding-top:25px;font-weight:bold;'>We show real-time data and analysis of the affested, recovered and deceased people all over the world . We have broken down the data into country-wise formats with specific data for each country.
        Not only that, we also provide reliable news that our user can trust on related to COVID-19 . Undoubtedly, this website is your one-stop guide for COVID-19 information.
    </p>
    <h3 style='padding-left:20px;padding-top:20px;'>FROM WHERE DO WE GET THIS DATA ?</h3>
    <p style='padding-left:10px;padding-top:25px;font-weight:bold;'>We have replicated this data from one</p>