{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- My Style Sheets -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
      img{
        margin-left:400px;
        margin-top:30px;
      }
      @media only screen and (max-width: 600px) {
        img{
          margin-left:100px;
          width:50%;
        }
      }
    </style>

    <!-- Font Awesome Script -->
    <script src="https://kit.fontawesome.com/74ba14d0ba.js" crossorigin="anonymous"></script>

    <title>Covid Info</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">COVID INFO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href='/'><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news"><i class="far fa-newspaper"></i>News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/world"><i class="fas fa-globe"></i>World</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/country"><i class="fas fa-flag"></i>  Country-Wise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tips"><i class="fas fa-question"></i> Tips and Tricks</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method='post'>
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" name='data' placeholder="Search" aria-label="Search" autocomplete="off">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <img src="{% static 'logo.png' %}">
    <h3 style='padding-top:20px;'>WHAT IS THIS WEBSITE ABOUT ?</h3>
    <p style='padding-left:10px;padding-top:25px;font-weight:bold;'>This website is about creating awareness in people's mind against this deadly virus know as Coronavirus , whose scientific name is SARS-CoV2 . This virus has affected almost every country in the world and
        has forced human beings into remote existence . However, we are hopeful that we shall overcome and better times shall come . This website is nothing but a simple attempt to create awareness among the masses about this disease . </p>
    <h3 style='padding-left:20px;padding-top:20px;'>WHAT DO WE DO ?</h3>
    <p style='padding-left:10px;padding-top:25px;font-weight:bold;'>We show real-time data and analysis of the affested, recovered and deceased people all over the world . We have broken down the data into country-wise formats with specific data for each country.
        Not only that, we also provide reliable news that our user can trust on related to COVID-19 . Undoubtedly, this website is your one-stop guide for COVID-19 information.
    </p>
    <h3 style='padding-left:20px;padding-top:20px;'>FROM WHERE DO WE GET THIS DATA ?</h3>
    <p style='padding-left:10px;padding-top:25px;font-weight:bold;'>We have replicated this data from one</p>