
  
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- My Style Sheets -->
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <!-- My Script -->
    <script src="{% static 'js/main.js' %}"></script>
    
    <!-- Font Awesome Script -->
    <script src="https://kit.fontawesome.com/74ba14d0ba.js" crossorigin="anonymous"></script>

    <style>
      .table.sticky th{
        position: sticky;
        top: 60px;
        background-color: white;
      }

      @media only screen and (max-width: 600px) {
        #search-country{
          display: none;
        }
    </style>

    <title>Covid Info</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: sticky; top: 0;">
      <a class="navbar-brand" href=""></a>
      <a class="navbar-brand" href="#">
<img id="brand" src="static/fav.png" width="40" height="40" alt="" style="margin: 0;">
COVID INFO
</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href='/'><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news"><i class="far fa-newspaper"></i>News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/world"><i class="fas fa-globe"></i>World</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/country"><i class="fas fa-flag"></i>  Country-Wise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tips"><i class="fas fa-question"></i> Tips and Tricks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about"><i class="fas fa-address-card"></i> About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/graphs"><i class="fas fa-signal"></i>  Graphs</a>
          </li>
        </ul>

        <a href="mailto://info@thinkingtomorrow.cf" target="_blank"><i class="far fa-envelope-open fa-2x" style="color: white; margin-right: 10px"></i></a>
        <a href="https://github.com/thinking-tomorrow" target="_blank"><i class="fab fa-github fa-2x" style="color: white; margin-right: 10px"></i></a>

        <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method='post'>
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" name='data' placeholder="Search" aria-label="Search" autocomplete="off">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    
    <!--<div class="loader">
      <img src="{% static 'preloader.svg' %}" alt="Loading..." />
    </div>-->

    {% if countries %}
    <h1 style='padding-top:20px;text-align:center;'>COUNTRY PAGE</h1>

    <form class="form-inline my-2 my-lg-0" style='margin-top:20px;margin-bottom:20px;'>
      <input id="search_country" onkeyup="filterTable()" class="form-control mr-sm-2" type="search" name='country' placeholder="Search" aria-label="Search" autocomplete="off">
      <button class="btn btn-outline-success my-2 my-sm-0" id="search-country">Search</button>
    </form>
    
    <ul class="nav nav-tabs" style="margin-top:20px;">
      <li class="nav-item">
        <a class="nav-link active" href="#">World</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Asia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Africa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Europe</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">North America</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">South America</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Australia/Oceania</a>
      </li>
    </ul>

      <table class="table sticky" id="myTable">
        <thead>
          <tr name="head">
            <th>Country</th>
            <th id="name">Name <i class="fas fa-sort-up"></i><i class="fas fa-sort-down"></i></th>
            <th id="total">Total Cases <i class="fas fa-sort-up"></i><i class="fas fa-sort-down"></i></th>
            <th id="active">Active Cases <i class="fas fa-sort-up"></i><i class="fas fa-sort-down"></i></th>
            <th id="new-case">New Cases <i class="fas fa-sort-up"></i><i class="fas fa-sort-down"></i></th>
            <th id="death">Deaths <i class="fas fa-sort-up"></i><i class="fas fa-sort-down"></i></th>
            <th id="new-death">New Deaths <i class="fas fa-sort-up"></i><i class="fas fa-sort-down"></i></th>
            <th id="recovered">Recovered <i class="fas fa-sort-up"></i><i class="fas fa-sort-down"></i></th>
            <th id="test">Tests <i class="fas fa-sort-up"></i><i class="fas fa-sort-down"></i></th>
          </tr>
        </thead>

        <tbody>
          {% for country in countries %}

          <tr name="{{country.continent}}">
            <td><img src="{{country.flag}}" style="height: 50px; width: 80px;"></td>
            <td><a href="country/{{country.name}}">{{country.name}}</a></td>
            <td>{{country.totalcase}}</td>
            <td>{{country.activecase}}</td>
            <td>{{country.newcase}}</td>
            <td>{{country.deaths}}</td>
            <td>{{country.newdeath}}</td>
            <td>{{country.recovered}}</td>
            <td>{{country.tests}}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}

    <script>
      /**window.addEventListener("load", function () {
        const loader = document.querySelector(".loader");
        loader.className += " hidden"; // class "loader hidden"
    });**/
    </script>

    <footer style="background-color:#343a40;color:white;">
      <p style="text-align:center;font-size:50px;">COVID INFO 2020</p>
      <a href="/about"></a>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>